<h1><%= "Team #{@team.groupNum}" %></h1>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>CollaboRATING</th>
<!--    <th>Options</th>-->
  </thead>
  <tbody>
    <% @team.team_memberships.each do |t| %>
      <tr>
        <td><%= t.user.fullName %></td>
        <td><%= t.user.email %></td>
        <%= link_to "Join Team", team_joinGroup_path(@team), method: :post %>

        <!--        <td><%#= link_to "Rate User", new_team_membership_rating_path(t) %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<%# if @team.team_memberships.where('team_memberships.user_id = ?', current_user.id).present? %>
<!--  <strong>You are a member of <%#= @team.team_memberships.group_id.groupNum %></strong>-->
<%# else %>
<%# end %>
