<h1>Teacher Portal</h1>
<% if current_user.Instructor? %>
    <%= current_user.firstName %>
    <a>
        <form action="courses/new">
          <input type="submit" value="Create a Course"/>
        </form>
      </a>
    <table>
        <th>Course Number</th>
        
        
        
        
    </table>
    
    
    
    
    
    <% else %>
    <h1>You shouldn't be here</h1>
    <% end %>
    