<h1>Teacher Portal</h1>
  <a>
      <form action="courses/new">
        <input type="submit" value="Create a Course"/>
      </form>
    </a>
  <table>
      <th>Subject</th>
      <th>Course Number</th>
      <th>Section</th>
      <th>Semester</th>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.subject %></td>
        <td><%= course.coursenum %></td>
        <td><%= course.section %></td>
        <td><%= course.Semester.name %></td>
      </tr>

    <% end %>

  </table>

    