<div id="adminNav">

  <a>
    <form action="admin/userlist">
      <input type="submit" value="User List"/>
    </form>

    <form action="universities/new">
      <input type="submit" value="New University"/>
    </form>
  </a>

</div>