<div id="adminNav">

  <a>
    <form action="admin/userlist">
      <input type="submit" value="User List"/>
    </form>

    <form action="universities/new">
      <input type="submit" id ="newUni" value="New University"/>
    </form>
    
    <form action="semesters/new">
      <input type="submit" value="New Semester"/>
    </form>
  </a>

</div>