<body>
<div class="row">
  <div class="column">
    <%= image_tag current_user.image, style: 'height:200px;width:auto;' %>
  </div>
  <div class="column">
    <div class="login">
      First Name: <%= current_user.firstName %><br>
      Last Name: <%= current_user.lastName %><br>
    </div>
  </div>
</div>
</body>
