<body>
    <div class="profile">
      <p><%= @user.firstName %> <%= @user.lastName %><br></p>
      <p>User ID: <%= @user.id %></p>

      <p>University: <%=  @user.uniName  %></p>
    </div>
</body>
