<body>
<div class="row">
    <%= image_tag current_user.image, style: 'height:200px;width:auto;' %>
  </div>
    <div class="login">
      <p><%= current_user.firstName %> <%= current_user.lastName %><br></p>
      
      <ul>
        <!-- <li><%= current_user.classes  </li> -->
        
        
      </ul>
    </div>
</body>
