<body>
<table class="table">
  <thead>
  <% if current_user.approved? %>
      <th>
        <form action="myprofile">
        <input type="submit" value="My Profile"/>
        </form>
      </th>
    <% if current_user.Student? %>
      <th>
          <form action="myclasses">
          <input type="submit" value="My Classes"/>
          </form>
        </th>
        <th>
          <form action="enrollme">
            <input type="submit" value="Enroll in a course"/>
          </form>
        </th>
    <% end %>
    <% if current_user.Instructor? %>
        <th>
          <form action="teacherportal">
            <input type="submit" value="Teacher Portal"/>
          </form>
        </th>
    <% end %>
    <% if current_user.SuperAdmin? or current_user.OrgAdmin? %>
      <th>
          <form action="admin">
            <input type="submit" value="Admin Portal"/>
          </form>
      </th>
    <% end %>
  <% else %>
    <h1>Get an admin to approve your account to begin using CollaboRATE</h1>
  <% end %>
  </thead>
  <tbody>
  </tbody>
</table>

</body>