<div id = "userNav" class = "leftColumn">
        <a href="/users/<%= current_user.id%>">My Profile</a>
        <a href="myclasses">Classes I am enrolled in (DUMMY)</a>
        <a href="myGroups">Group Study Sessions (DUMMY)</a>
        <a href="myProjects">Group Projects</a>
        <a href="enrollMe">Enroll in a course</a>
    </div>