<body>

<div class="row">
  <div class="column">
    <div id="userNav">
      <a>
        <form action="myprofile">
          <input type="submit" value="My Profile"/>
        </form>
      </a>

      <a>
        <form action="myclasses">
          <input type="submit" value="My Classes"/>
        </form>
      </a>

      <a>
        <form action="myprojects">
          <input type="submit" value="My Projects"/>
        </form>
      </a>

      <a>
        <form action="enrollme">
          <input type="submit" value="Enroll in a course"/>
        </form>
      </a>
      <% if current_user.Instructor? %>
        <a>
          <form action="teacherportal">
            <input type="submit" value="Courses I am teaching"/>
          </form>
        </a>
      <% end %>

      <% if current_user.SuperAdmin? or current_user.OrgAdmin? %>
        <a>
          <form action="admin">
            <input type="submit" value="Admin Dashboard"/>
          </form>
        </a>
      <% end %>

    </div>
  </div>
</div>

</body>