<div id="userNav" class="leftColumn">
  <a href="myprofile">My Profile</a>
  <a href="myclasses">Classes I am enrolled in (DUMMY)</a>
  <a href="myProjects">Group Projects</a>
  <a href="enrollMe">Enroll in a course</a>
  <a href="teacherPortal">Courses I am Teaching</a>

</div>