<titleBar1></titleBar1>
<titleBar2></titleBar2>
<titleBar3></titleBar3>
<vertBar></vertBar>

<!--<h1>Welcome to Collabo<strong>RATE</strong></h1>-->
<body>
    <table style=width:100%>
        <tr>
        <td><p><a href="myclasses">Classes I am enrolled in (DUMMY)</a></p>
        </td>
        <td>
            <p><a href="myGroups">Group Study Sessions (DUMMY)</a></p>
        </td>
        </tr>
        <tr>
            <td>
                <p><a href="myProjects">Group Projects</a></P>
                </p>
            </td>
            <td>
                <p><a href="enrollMe">Enroll in a course</a></p>
            </td>
        </tr>
    </table>
</body>
