
<body>
    <div class="row", style="margin-top:2%;">
      <div id = "formWrapper" class="column">
        <% if not user_signed_in? %>
          <%= render 'userLogin'%>
        <% end %>
       </div>
      <div class="column">
        <%= render 'userNav' %>
      </div>
    </div>
</body>
