<body>

  <% if not user_signed_in? %>
    <div id="formWrapper" class="row">
      <%= render 'userLogin' %>
    </div>
  <% else %>
    <h1>My Dashboard</h1>
    <div class="row">
      <%= render 'userNav' %>
  <% end %>
  </div>
</div>
</body>
