
<body>
<div class="mainBody">
    <div class="row", style="margin-top:2%;">
      <% if not user_signed_in? %>
        <div id = "formWrapper" class="column">
              <%= render 'userLogin'%>
           </div>
      <% end %>
      <div class="column">
        <%= render 'userNav' %>

      </div>
    <% end %>
    <div class="column">
      <%= render 'userNav' %>
    </div>

</div>
</body>
