<h1 id = "title">CollaboRATE</h1>
<div id = "colorCol">
    <vertBar></vertBar>
</div>
<div id = "topRow">
    <titleBar1></titleBar1>
    <titleBar2></titleBar2>
    <titleBar3></titleBar3>
</div>


<!--<h1>Welcome to Collabo<strong>RATE</strong></h1>-->
<body>
    <div id="buttonWrapper">
    <button id="signIn" type = "button">Sign in</button> <button id="signOut" type = "button">Sign out</button>
    </div>
    <%= render 'userNav' %> 
    <div id = "formWrapper">
    <label for="firstName">First Name:</label>
    <input type = "text" name = "firstName" value="firstName"><br>
    <label for="lastName">Last Name:</label>
    <input type = "text" name = "lastName" value="lastName"><br>
    <label for="email">Email:</label>
    <input type = "text" name = "email" value="email"><br>
    <label for="uni">University:</label>
    <input type = "text" name = "uni" value="uni"><br>
    </div>
</body>
