<body>
  <div class="container">
    <div class="row" , style="margin-top:2%;">
        <% if not user_signed_in? %>
          <div id="formWrapper">
            <%= render 'userLogin' %>
          </div>
        <% else %>
          <%= render 'userNav' %>
        <% end %>
    </div>
  </div>
</body>
