// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#userNav {
  width: 100%;
  position: relative;
  float: right;
  //top: 0px;
  // left: px;
  border: 3px solid green;
  overflow-x: hidden;
  //padding-top: 15%;
  z-index: 10;
}

#userNav a {
  margin-top: 5%;
  text-decoration: none;
  font-size: 16px;
  color: #2196F3;
  display: block;
  width: 50%;

}

p2 {
  margin-left:2%;
}




